/* Layout */
#consolemenu ul {
    .consoleMenuXSX,
    .consoleMenuXOne {
        &.sfHover a,
        &.active > a,
        & > a:hover,
        ul li a {
            // background: linear-gradient(90deg, rgba($origGreenDark, 0.5), rgba($origGreen, 0.5)), linear-gradient(180deg, rgba($origGreenDark, 0.5), rgba($origGreen, 0.5)), #000;
            background: linear-gradient(0deg, rgba($origGreenDark, 0.5), $backgroundElements),
                        linear-gradient(90deg, $backgroundElements, transparent);
            text-shadow: 0px 1px 0px $backgroundInput !important;
        }

        ul li a {
            background: $origGreenDark !important;
            text-shadow: 0px 1px 0px $backgroundInput;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .consoleMenuPS5,
    .consoleMenuPS4 {
        &.sfHover a,
        &.active > a,
        & > a:hover {
            // background: linear-gradient(90deg, rgba($origBlueDark, 0.5), rgba($origBlue, 0.5)), linear-gradient(180deg, rgba($origBlueDark, 0.5), rgba($origBlue, 0.5)), #000;
            background: linear-gradient(0deg, rgba($origBlueDark, 0.5), $backgroundElements),
                        linear-gradient(90deg, $backgroundElements, transparent);
            text-shadow: 0px 1px 0px $backgroundInput !important;
        }

        ul li a {
            background: $origBlueDark !important;
            text-shadow: 0px 1px 0px $backgroundInput;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .consoleMenuNS,
    .consoleMenu3DS,
    .consoleMenuPreorders,
    .consoleMenuGuides,
    .consoleMenuMeer {
        &.sfHover a,
        &.active > a,
        & > a:hover,
        ul {
            // background: linear-gradient(90deg, rgba($origRedDark, 0.5), rgba($origRed, 0.5)), linear-gradient(180deg, rgba($origRedDark, 0.5), rgba($origRed, 0.5)), #000;
            background: linear-gradient(0deg, rgba($origRedDark, 0.5), $backgroundElements),
                        linear-gradient(90deg, $backgroundElements, transparent);
            text-shadow: 0px 1px 0px $backgroundInput !important;
        }

        ul li a {
            background: $origRedDark !important;
            text-shadow: 0px 1px 0px $backgroundInput;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .consoleMenuPC {
        &.sfHover a,
        &.active > a,
        & > a:hover,
        ul {
            // background: linear-gradient(90deg, rgba($origGreyDark, 0.5), rgba($origGrey, 0.5)), linear-gradient(180deg, rgba($origGreyDark, 0.5), rgba($origGrey, 0.5)), #000;
            background: linear-gradient(0deg, rgba($origGreyDark, 0.5), $backgroundElements),
                        linear-gradient(90deg, $backgroundElements, transparent);
            text-shadow: 0px 1px 0px $backgroundInput !important;
        }

        ul li a {
            background: $origGreyDark !important;
            text-shadow: 0px 1px 0px $backgroundInput;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.whitespaceAboveFooter {
    display: none;
}

/* Images */


/* Forum */
/** Comments - header **/
.userOnlineImg,
.userOfflineImg {
    filter: opacity(0);
    position: relative;
    content: ' ';
}

.commentUsername {
    position: relative;
}

.commentUsername:before {
    width: 8px;
    height: 8px;
    content: '';
    position: absolute;
    left: -10px;
    top: 3px;
    border-radius: 50%;
}

.commentUsernameOnline:before {
    background: $userOnline;
}

.commentUsernameOffline:before {
    background: $userOffline;
}

/** Comments - quote **/
.commentQuoteWrapper,
.quote1 {
    margin: 0;
    background: none !important;
}

.commentQuote,
.quote2 {
    background: $backgroundInput !important;
    padding: 10px;
}

/** Comments - signature **/
.commentSignature {
    color: #909090 !important;
}

.logoutButton {
    @include replace-img(12px, 12px);
    background: url('#{$imgPrefix}/images/sign-out.svg'); // https://fontawesome.com/license
}
